<!DOCTYPE html>
<html>
<head>
    <title>CAMP</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class='header-content'>
            <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt='Logo' class='logo'> -->
            <h1>Comprehensive Action Management Platform</h1>
        </div>
    </header>

    <div class='container'>
        <div class='input-section'>
            <div class='input-container'>
                <div class='input-box'>
                    <textarea id='input-box' placeholder='This is the input box. The result of voice translation is displayed here, and the text in this area can be edited.'></textarea>
                </div>
                <div class="submit-container">
                    <button id='submit-btn'>submit</button>
                </div>
            </div>
        </div>
        
        <div class='output-section'>
            <div class='text-output'>
                <h3>Output | Advanced</h3>
                <div id='steps-output'>
                    <p>show high-level behavior steps</p>
                    <p>1. .......</p>
                    <p>2. ......</p>
                    <p>3. ......</p>
                </div>
            </div>
            
            <div class='image-display'>
                <h3>Image Display Area</h3>
                <textarea id="currentStep" readonly>current step</textarea>
                <div class="image-stream-area">
                    <img id="streamImage" src="" alt="Stream Image">
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 